<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>
	<aside th:fragment="publicity" class="d-none d-lg-block col-lg-2 ">
		<div class="row">
              <div class="col-md-12 "> 
                <div class="card my-3" style="width: auto;">
                  <div class="card-body">
                    <img th:src="@{/images/publi1.png}" class="card-img-top" alt="...">
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 "> 
                <div class="card my-3" style="width: auto;">
                  <div class="card-body">
                    <img th:src="@{/images/publi2.jpg}" class="card-img-top" alt="...">
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 "> 
                <div class="card my-3" style="width: auto;">
                  <div class="card-body">
                    <img th:src="@{/images/publi3.jpg}" class="card-img-top" alt="...">
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 "> 
                <div class="card my-3" style="width: auto;">
                  <div class="card-body">
                    <img th:src="@{/images/publi4.png}" class="card-img-top" alt="...">
                  </div>
                </div>
              </div>
            </div>
	</aside>
</body>
</html>